<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/neurchiadvisor_iam?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">neurchi</property>
        <property name="hibernate.connection.password">neurchi</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

<!--        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>-->
<!--        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>-->

        <mapping resource="hibernate/com.neurchi.advisor.identityaccess.domain.model.access.hbm.xml"/>
        <mapping resource="hibernate/com.neurchi.advisor.identityaccess.domain.model.identity.hbm.xml"/>
        <mapping resource="hibernate/PublishedNotificationTracker.hbm.xml"/>
        <mapping resource="hibernate/StoredEvent.hbm.xml"/>
    </session-factory>
</hibernate-configuration>