<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

	<!-- begin::Head -->
	<head>

		<!--begin::Base Path (base relative path for assets of this page) -->
		<base href="/">

		<!--end::Base Path -->
		<meta charset="utf-8" />
		<title>NeurchiAdvisor | Ajouter Groupe</title>
		<meta name="description" content="Ajouter un ou plusieurs groupe">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="csrf_token" th:content="${_csrf.token}"/>
		<meta name="csrf_header_name" th:content="${_csrf.headerName}"/>

		<th:block th:insert="/layout :: fonts"/>

		<!--begin::Page Custom Styles(used by this page) -->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/pages/general/wizard/wizard-3.css}" />

		<!--end::Page Custom Styles -->

		<th:block th:insert="/layout :: stylesheets"/>
	</head>

	<!-- end::Head -->

	<!-- begin::Body -->
	<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: Page -->

		<!-- begin:: Header Mobile -->
		<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
			<div class="kt-header-mobile__logo">
				<a href="demo1/index.html">
					<img alt="Logo" src="./assets/media/logos/logo-light.png" />
				</a>
			</div>
			<div class="kt-header-mobile__toolbar">
				<button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
				<button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
				<button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
			</div>
		</div>

		<!-- end:: Header Mobile -->
		<div class="kt-grid kt-grid--hor kt-grid--root">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

				<!-- begin:: Aside -->
				<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
				<div th:replace="/layout :: aside" class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside"></div>

				<!-- end:: Aside -->
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

					<!-- begin:: Header -->
					<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

						<!-- begin:: Header Menu -->
						<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
						<div th:replace="/layout :: header-menu-wrapper" class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
							<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
							</div>
						</div>

						<!-- end:: Header Menu -->

						<!-- begin:: Header Topbar -->
						<div th:replace="/layout :: header-topbar" class="kt-header__topbar">

						</div>

						<!-- end:: Header Topbar -->
					</div>

					<!-- end:: Header -->
					<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

						<!-- begin:: Content Head -->
						<div class="kt-subheader   kt-grid__item" id="kt_subheader">
							<div class="kt-subheader__main">
								<h3 class="kt-subheader__title">
									Groupes
								</h3>
								<span class="kt-subheader__separator kt-subheader__separator--v"></span>
								<div class="kt-subheader__group" id="kt_subheader_search">
									<span class="kt-subheader__desc" id="kt_subheader_total">
										Ajouter de nouveaux groupes </span>
								</div>
							</div>
							<div class="kt-subheader__toolbar">
								<a th:href="@{/apps/group/list-default.html}" class="btn btn-default btn-bold">
									Retour </a>
							</div>
						</div>

						<!-- end:: Content Head -->

						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="alert alert-light alert-elevate" role="alert">
								<div class="alert-icon"><i class="flaticon-safe-shield-protection kt-font-brand"></i></div>
								<div class="alert-text">
									Administrer un groupe sur Neurchi Advisor permet de protéger les informations du groupe, ce qui permet de rafraîchir automatiquement le nombre de membres, de contrôler la visibilité du groupe et de le paramétrer sur la plateforme.
									Un groupe est vérifié (badge authentique) seulement si au moins un administrateur a autorisé ce groupe sur la plateforme.
								</div>
							</div>
							<div class="kt-portlet kt-portlet--mobile">
								<div class="kt-portlet__head kt-portlet__head--lg">
									<div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="kt-font-brand flaticon2-notepad"></i>
										</span>
										<h3 class="kt-portlet__head-title">
											Sélection des groupes
										</h3>
									</div>
								</div>
								<div class="kt-portlet__body">

									<!--begin: Selected Rows Group Action Form -->
									<div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="group-record-action-form">
										<div class="row align-items-center">
											<div class="col-xl-12">
												<div class="kt-form__group kt-form__group--inline">
													<div class="kt-form__label kt-form__label-no-wrap">
														<label class="kt-font-bold kt-font-danger-">Appliquer sur
															<span id="group-record-selected-number">0</span> groupes:</label>
													</div>
													<div class="kt-form__control">
														<div class="btn-toolbar">
<!--															<div class="dropdown">-->
<!--																<button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">-->
<!--																	Update status-->
<!--																</button>-->
<!--																<div class="dropdown-menu">-->
<!--																	<a class="dropdown-item" href="#">Pending</a>-->
<!--																	<a class="dropdown-item" href="#">Delivered</a>-->
<!--																	<a class="dropdown-item" href="#">Canceled</a>-->
<!--																</div>-->
<!--															</div>-->
<!--															&nbsp;&nbsp;&nbsp;-->
<!--															<button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Enlever</button>-->
															&nbsp;&nbsp;&nbsp;
															<button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#group-add-records">Ajouter</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!--end: Selected Rows Group Action Form -->
								</div>

								<div class="kt-portlet__body kt-portlet__body--fit">

									<!--begin: Datatable -->
									<div class="kt-datatable" id="group-record-selection"></div>

									<!--end: Datatable -->

									<!--begin::Modal-->
									<div class="modal fade" id="group-add-records" tabindex="-1" role="dialog" aria-labelledby="group-add-records-modal-label" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="group-add-records-modal-label">Rafraîchissement automatique des données</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<p>Les groupes suivants seront ajouté au système, vous pourrez ensuite configurer les groupes dont vous êtes administrateur dans votre espace personnel.</p>
													<div class="kt-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="500">
														<ul class="group-add-records-modal-selected-ids"></ul>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
													<button type="button" class="btn btn-primary">Confirmer</button>
												</div>
											</div>
										</div>
									</div>

									<!--end::Modal-->
								</div>
							</div>
						</div>

						<!-- end:: Content -->
					</div>

					<th:block th:insert="/layout :: footer"/>
				</div>
			</div>
		</div>

		<!-- end:: Page -->

		<th:block th:insert="/layout :: scrolltop"/>

		<th:block th:insert="/layout :: scripts"/>

		<!--begin::Page Scripts(used by this page) -->
		<script type="text/javascript" th:src="@{/assets/js/pages/custom/apps/groups/add-group.js}"></script>

		<!--end::Page Scripts -->
	</body>

	<!-- end::Body -->
</html>